body{ margin: 0; padding: 0; font-family: "microsoft yahei", Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 14px; background-color: #f8f8f8;}
img{ border: none; display: block;}
input{ outline: none; font-family: "microsoft yahei", Monaco, Menlo, Consolas, "Courier New", monospace; }
h1,h2,h3,h4,p,ul,li{ margin: 0; padding: 0;}
li{ list-style: none;}
table{ border-collapse:collapse}

/*å…¬ç”¨*/
.index .button a,.index .intro li .icons,
.index .main .rank .control span,
.index .main .rank .list .item.r1 em,.main .list .item.r2 em,.main .list .item.r3 em,
.index .footer em,
.page .me-menu li .del,
.page .result-list .control span em
{
  background-image: url(/img/icons-fn.png); background-repeat: no-repeat;
}
a.non_link{text-decoration: none; color: #6d6d6d; }
a.non_link:hover{color: #111; }

.search a,
.page .menu li em{ background-image: url(/img/icons-24.png); background-repeat: no-repeat;}

.search{ width: 540px; height: 28px; padding: 10px; border: 1px solid #0067a2; border-radius: 4px; background-color: rgba(255,255,255,.2); float: left; position: relative;}
.search input{ margin: 0; padding: 4px 0; font-size: 16px; border: none; background-color: transparent; height: 20px; line-height: normal; width: 510px; color: #000; position: absolute; left: 10px; top: 10px;}
.search a{ width: 24px; height: 24px; background-position: 0 0; position: absolute; right: 10px; top: 12px;}
.search label{ width: 560px; height: 48px; line-height: 48px; text-align: center; color: #fff; position: absolute; left: 0; top: 0; z-index: 2; cursor: text;}
.search.focus{ background-color: #fff; border-color: #fff;}
.search.focus a{ background-position: -24px 0;}
#search_active{border-radius: 5px;position: absolute;z-index: 2;left: 50%;margin-left: -281px;top: 77px;width:560px;display: none;border: 1px solid #ccc;max-height: 300px;background: #fff;}
#search_active li{width: 540px;margin: 0 auto;white-space: nowrap;overflow: hidden;cursor: pointer;}

.arrow-top{width:0;height:0;border-width:6px;border-color:#fff transparent transparent transparent;border-style:solid dashed dashed dashed;border-bottom:0;display:block }
.arrow-bottom { width: 0; height: 0; border-width: 6px; border-color: transparent transparent #fff transparent;border-style: dashed dashed solid dashed; border-top: 0;display: block;}

.search_q{ width: 540px; height: 28px; padding: 10px; border-radius: 4px; /*background-color: rgba(255,255,255,.2);*/ float: left; position: relative;}
.page .search_q{  position: absolute; left: 50%; margin-left: -281px; top: 20px; }
.index .search_q{ position: absolute; left: 50%; margin-left: -281px; top: 20px;}


/* for index */
.index .header{ width: 100%; min-width:1200px; height: 480px; background:url(/img/index-header-bg.jpg) no-repeat center #0171b1; overflow: hidden;}
.index .header .top{ width: 1200px; height: 50px; padding: 25px 0; margin: 0 auto; }
.index .header a.logo{ display: block; float: left; height: 50px;}

.index .button{ float: right; width: 235px; height: 48px; padding: 1px 0;}
.index .button a{ display: block; float: left;}
.index .button .login{ width: 120px; height: 48px; background-position: 0 0;}
.index .button a.login:hover{ background-position: 0 -48px;}
.index .button .register{ width: 100px; height: 48px; background-position: -120px 0; margin-left: 15px;}
.index .button a.register:hover{ background-position: -120px -48px;}
.index .search{ position: absolute; left: 50%; margin-left: -281px; top: 26px;}

.index .header a.managebtn{ width: 131px; height: 48px; display: block; background: url(/img/mmbtn.png);}
.index .header a.managebtn:hover{ background: url(/img/mmbtn-hover.png);}

.index .banner{ padding-top: 75px; width: 1200px; margin: 0 auto; overflow: hidden;}
.index .banner .left{ width: 370px; float:left; text-align: right; overflow: hidden; color: #fff;}
.index .banner h1{ font-size: 72px; font-weight: normal}
.index .banner .left p{ font-size: 30px;}
.index .banner .right{ width: 560px; float:left; margin-left: 70px; text-align: left; overflow: hidden; color: #fff;}
.index .banner .right h2{ font-size: 36px; padding: 10px 0 20px 0;}
.index .banner .right p{ font-size: 21px; line-height: 1.5;}
.index .banner .links{ padding-top: 40px;}
.index .banner .links a{ text-decoration: none; height: 60px; line-height: 60px; border-radius: 4px; text-align: center; float: left; font-size: 19px;}
.index .banner .links a:hover{ opacity: .9; filter:alpha(opacity=90);}
.index .banner .links .btn-why{ width: 235px;  background-color: #ffe400; color:#000; }
.index .banner .links .btn-me{ width: 165px; background-color: #00456d; color: #fff; margin-left: 20px;}


.index .main{ width: 1200px; overflow: hidden; position: relative; padding-top: 30px; background-color: #fff; margin: -15px auto 0 auto;}
.index .main .intro{ width: 100%; overflow: hidden; padding: 20px 0}
.index .intro li{float: left;}
.index .intro li a{-webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  display: inline;
  width: 210px;
  padding: 20px;
  float: left;
  text-decoration:none;
  margin: 0 24px;}
.index .intro li a:hover {
  background: #f8f8f8;
}

.index .intro li .content{ width: 210px; overflow: hidden;}
.index .intro li .icons{ width: 87px; height: 76px; margin: 0 auto;}
.index .intro li .icons.public-list{ background-position: 0 -96px; }
.index .intro li .icons.custom-group{ background-position: -87px -96px; }
.index .intro li .icons.effect-query{ background-position: -174px -96px; }
.index .intro li .icons.content-mining{ background-position: -261px -96px; }
.index .intro li h2{ font-size: 22px; font-weight: normal; margin: 0; color: #2e2e2e; padding: 20px 0 10px 0; text-align: center; }
.index .intro li .desc{ font-size: 14px; line-height: 24px; color: #676767; }

.index .main h2{ font-size: 22px; font-weight: normal; margin: 0; color: #2e2e2e; padding: 15px 40px; }


.index .main .rank{ width: 100%; padding: 20px 0; position: relative;}
.index .main .rank .control{ width: 32px; height: 64px; overflow: hidden; position: absolute; top: 120px; line-height: 64px; background-color: rgba(0,0,0,.3); font-size: 20px; font-weight: bold; cursor: pointer; z-index: 99;}
.index .main .rank .control.disabled{ opacity: .6; filter:alpha(opacity=60); cursor: default; }
.index .main .rank .control span{ background-repeat: no-repeat; position: absolute; top: 22px;}
.index .main .rank .control.left span{ width: 11px; height: 19px; left: 8px; background-position: -220px 0;}
.index .main .rank .control.right span{ width: 11px; height: 19px; right: 8px; background-position: -231px 0;}
.index .main .rank .control.left{ left:0;}
.index .main .rank .control.right{ right:0;}
.index .main .rank .list{ width: 1120px; height: 274px; overflow: hidden; margin: 0 auto; position: relative;}
.index .main .rank .list ul{ width: 500%; overflow: hidden; position: absolute; left: 0; top: 0;}
.index .main .rank .list li{ float: left; width: 265px; margin-right: 20px; position: relative; background-color: #f8f8f8;}
.index .main .rank .list h3{ font-size: 16px; color: #49943c; margin: 0; line-height: 50px; padding:0 0 0 40px;}
.index .main .rank .list .item{ color: #6d6d6d; font-size: 14px; position: relative; height: 33px; line-height: 33px; padding-left: 58px;}
.index .main .rank .list .item.r1 em{ background-position: -242px 0; color: #fff;}
.index .main .rank .list .item.r2 em{ background-position: -242px -27px; color: #fff;}
.index .main .rank .list .item.r3 em{ background-position: -242px -54px; color: #fff;}
.index .main .rank .list .item em{ width: 27px; height: 27px; text-align: center; line-height: 27px; position: absolute; left: 22px; top: 3px; font-style: normal;}
.index .main .rank .list .more{ width: 100%; height: 44px; padding-top: 15px;}
.index .main .rank .list .more a{ display: block; text-decoration: none; text-align: center; line-height: 44px; width: 100%; color: #6c6c6c; background-color: #efefef; font-size: 14px;}
.index .main .rank .list .more a:hover{ color: #4b4b4b; background-color: #dedede;}
.index .main .rank .list .add{ width: 90px; height: 34px; text-align: center; position: absolute; right: 0; top: 8px; display: none;}
.index .main .rank .list .add a{ display: block; width: 90px; height: 34px; line-height: 34px; background-color: #53b611; color: #fff; text-decoration: none;}
.index .main .rank .list .add a:hover{ background-color: #61b352;}


.index .main .group{ width: 1120px; margin: 0 auto; overflow: hidden;}
.index .main .group ul{ width: 1200px; overflow: hidden; padding-bottom: 30px;}
.index .main .group li{ float: left; width: 205px; position: relative; margin-right: 20px; height: 79px; border-bottom: 1px solid #e6e6e6; padding-left: 60px; cursor: default;}
.index .main .group li.hover{ background-color: #f5f7f7}
.index .main .group li .add{ width: 90px; height: 34px; text-align: center; line-height: 34px;position: absolute; right: 0; top: 0; display: none;}
.index .main .group li .add a{ display: block; width: 90px; height: 34px; background-color: #53b611; color: #fff; text-decoration: none;}
.index .main .group li .add a:hover{ background-color: #61b352;}
.index .main .group li .avatar{ width: 44px; height: 44px; position: absolute; top: 15px; left: 5px; border-radius: 50px; overflow: hidden; background-color: #c8c8c8; border: 3px solid #fff; box-shadow: 0 0 5px rgba(0,0,0,.1);}
.index .main .group li.add .avatar{ background-color: #53b611; line-height: 40px; text-align: center; color: #fff; font-size: 28px;}
.index .main .group li.add a{ line-height: 79px; color: #53b611; text-decoration: none;}
.index .main .group li.add a:hover{ text-decoration: underline;}
.index .main .group li .name{ font-size: 18px; color: #2e2e2e; padding-top: 18px;}
.index .main .group li .desc{ font-size: 13px; color: #3986dc; line-height: 1.5;}

.index .main .customers{ width: 1120px; margin: 0 auto; overflow: hidden;}
.index .main .customers ul{ width: 1200px; overflow: hidden; padding:10px 0;}
.index .main .customers li{ width: 160px; height: 66px;background-color: #ccc; float: left; margin: 0 30px 30px 0;}
.index .main .customers li img{width: 100%;border: 1px #E4E4E4 solid;height: 100%;}

.index .footer{ width: 100%; overflow: hidden; background-color: #383838;}
.index .footer .top{ width: 1200px; height: 15px; margin: 0 auto; background-color: #fff;}
.index .footer ul{ width: 1120px; overflow: hidden; margin: 0 auto;}
.index .footer li{ width: 245px; height: 280px; overflow: hidden; padding: 0 10px; float: left; margin-right: 15px;  color: #fff;}
.index .footer li.link{ width:145px; padding-left:100px; }
.index .footer h2{ font-size: 22px; line-height: 3; margin: 0; padding: 0; font-weight: normal;}
.index .footer h3{ font-size: 14px;  margin: 0; padding: 10px 0 5px 0; font-weight: normal;}
.index .footer li .desc{ line-height: 1.5; padding: 10px 0; font-size: 14px;}
.index .footer .src-ipt { width: 100%; overflow: hidden; position: relative;}
.index .footer .src-ipt .input{ width: 160px; height: 18px; line-height: 18px; padding:9px 7px; background-color: #fff; border-radius: 3px;}
.index .footer .src-ipt .input input{ width: 100%; border: none; outline: none; background-color: transparent; line-height: normal; font-size: 14px; margin: 0; padding: 0;}
.index .footer .src-ipt a{ width: 66px; height: 36px; line-height: 36px; text-align: center; color: #fff; text-decoration: none; position: absolute; right: 0; top: 0; background-color: #68cd30; border-radius: 3px;}
.index .footer .src-ipt a:hover{ background-color: #61b352; }
.index .footer .tips{ padding-bottom: 10px;}
.index .footer .tips a{ line-height: 2; color: #85e8f7; text-decoration: none; font-size: 12px;}
.index .footer .tips a:hover{ text-decoration: underline;}
.index .footer .comp a{ display: block; text-decoration: none; padding-bottom: 10px; color: #fff; font-size: 14px;}
.index .footer .comp{ padding-top: 12px;}
.index .footer .comp a:hover{ text-decoration: underline;}
.index .footer .kfqq{ height: 48px; line-height: 42px; padding-left: 40px; font-size: 14px; position: relative;}
.index .footer .kfemail{ height: 40px; padding: 4px 0; line-height: 18px; padding-left: 40px; font-size: 14px;
  position: relative;}
.index .footer .kfqq em{ width: 33px; height: 33px; position: absolute; left: 0; top: 6px; background-position: -269px 0}
.index .footer .kfemail em{ width: 33px; height: 33px;  position: absolute; left: 0; top: 6px; background-position: -269px -33px;}
.index .footer .copyright{ line-height: 2; font-size: 12px; color: #fff; text-align: center; padding:20px 10px 10px 10px;}


/* for search */
.page .header{ width: 100%; height: 130px; position: relative; background-color: #0171b1;}
.page .header .top{ width: 1200px; height: 50px; position: relative; margin: 0 auto; padding: 25px 0; background-color: #0171b1;}
.page .header a.logo{ display: block; float: left; height: 50px;}
.page .search{  position: absolute; left: 50%; margin-left: -281px; top: 26px; }
.page .header .user{ float: right; line-height: 50px; color: #fff; cursor: default; position: relative }
.page .header .user span{ padding:0 7px; float:left; cursor: default;}
span.span_vip{ width:103px;}
span.span_vip img{float: left;margin: 10px 3px 0 0; }
.page .header .user .arrow-top{ position: absolute; padding: 0; right: 50px; top: 24px; cursor: pointer}
.page .header .user a{ color: #fff; text-decoration: none; }
.page .header .user a:hover{ text-decoration: underline;}
.page .search_more{line-height: 24px;height: 25px;font-size: 20px;margin: 5px;color: #a8a8a8}
.page .search_more a{text-decoration: none;color: #1890d4; float: right; margin-top: -13px;}
.page .search_more a:hover{color: #53b611}
.page .search_more .avatar{background-color: #53b611;line-height: 30px;text-align: center;color: #fff;font-size: 15px;width: 20px;padding: 0 5px;height: 20px;border-radius: 30px;overflow: hidden;border: 3px solid #fff;box-shadow: 0 0 5px rgba(0,0,0,.1);}

.page .main{ width: 1200px; margin: -15px auto 0 auto; position: relative; overflow: hidden; background-color: #fff; box-shadow: 0 5px 5px rgba(0,0,0,.05);}
.page .main .side{ width: 244px; zoom:1; float: left; padding: 30px 0; border-right: 1px solid #ecf2f4;}
.page .main .content{ width: 895px; padding: 10px 30px; overflow: hidden; float: right; }
.page .main .side h2{ color: #92a3ab; font-weight: normal;  margin: 0; padding: 0 0 0 45px; font-size: 14px;}
.page .me-menu{ padding: 10px 0; position: relative; margin-right: -1px;}
.page .me-menu li{ padding-left: 90px; height: 50px; line-height: 50px; position: relative}
.page .me-menu li .del{ width: 28px; height: 28px; background-position: -302px 0; position: absolute; right: 20px; top: 11px; cursor: pointer; display: none;}
.page .me-menu li.hover{ background:url(/img/selected.png) right center no-repeat #edf6fa;}
.page .me-menu li.hover .del{ display: block;}
.page .me-menu .avatar{ width: 34px; height: 34px; position: absolute; left: 40px; top:5px;  border-radius: 40px; overflow: hidden; background-color: #c8c8c8; border: 3px solid #fff; box-shadow: 0 0 5px rgba(0,0,0,.1); }
.page .me-menu a{ color: #000; text-decoration: none;}
.page .me-menu a:hover{ color: #0a7ccb;}
.page .me-menu li.add .avatar{ background-color: #53b611; line-height: 30px; text-align: center; color: #fff; font-size: 28px; }
.page .me-menu li.add a{ line-height: 50px; color: #53b611; text-decoration: none;}
.page .me-menu li.add a:hover{ opacity: .8; filter:alpha(opacity=80);}

.page .menu{ padding: 10px 0;}
.page .menu li{ padding-left: 80px; max-height: 50px; line-height: 50px; position: relative;}
.page .menu li.selected{ margin-right: -1px; background: url(/img/selected.png) right center no-repeat #edf6fa;}
.page .menu li.selected a{ color: #0a7ccb; cursor: default;}
.page .menu li em{ width: 24px; height: 24px; position: absolute; left: 50px; top: 13px;}
.page .menu li a{ color: #000000; text-decoration: none;}
.page .menu li a:hover{ color: #0a7ccb;}
.page .menu li em.t1{ background-position: -48px 0;}
.page .menu li em.t2{ background-position: -72px 0;}
.page .menu li em.t3{ background-position: -96px 0;}
.page .menu li em.t4{ background-position: -120px 0;}
.page .menu li em.t5{ background-position: -144px 0;}
.page .menu li em.t6{ background-position: -168px 0;}
.page .menu li em.t7{background: url(/img/hot_icon.png) 0 0 no-repeat;}
.page .menu li em.t8{ background-position: -192px 0;}
.page .menu li em.t9{ background-position: -216px 0;}
.page .menu li em.t10{ background-position: -240px 0;}
.page .menu li em.t11{ background-position: -264px 0;}


.page .content h2{ padding: 20px 10px; margin: 0; font-size: 24px; color: #000; font-weight: normal;}
.page .content h2 em{ font-style: normal; color: #ff603b;}
.page .content span{ color: #6f6f6f; font-size: 16px; padding-left: 20px;}
.intro td{ text-align:right;}
.intro span{ text-align:left; float:left; width:100%;}
h3.user_name{padding-bottom: 35px;
  overflow: hidden;
  width: 100%;}
.intro span#user_profession img{ float:left; margin-right:10px;}
.intro span#user_profession{ line-height:35px;}
.page .result-list{ border-top: 1px solid #e8e8e8;}
.page .result-list li{ border-bottom: 1px solid #e8e8e8; padding-left: 85px; min-height: 100px; padding-bottom:10px; position: relative;}
.page .result-list li .avatar{ width: 62px; height: 62px; position: absolute; left: 0; top:23px;  border-radius: 40px; overflow: hidden; background-color: #c8c8c8; border: 3px solid #fff; box-shadow:0 0 7px rgba(0,0,0,.2); }
.page .result-list li h3{ margin: 0; padding: 0; font-size: 22px; color: #000; font-weight: normal; line-height: 50px;}
.page .result-list li .name{width: 73%;color: #a8a8a8; font-size: 14px;}
.page .result-list li .rearticle{ line-height: 40px; color: #000; font-size: 14px;}
.page .result-list li span{ font-size: 14px; color: #aaaaaa; padding-left: 20px;}
.page .result-list li a{ text-decoration: none; color: #1890d4;}
.page .result-list li a:hover{ text-decoration: underline;}
.page .result-list li .rank{ color: #000; font-size: 16px; position: absolute; right: 220px; height: 40px; line-height: 40px; top: 20px;}
.page .result-list li .rank em{ font-size: 32px; color: #fd442c; font-style: normal;}
.page .result-list .control{ width: 150px; height: 42px; line-height: 42px; text-align: center; position: absolute; z-index: 9; right: 20px; top: 36px;}
.page .result-list .control a{ display: block; width: 130px; height: 42px; line-height: 42px; background-color: #f3f3f3; color:#666; text-decoration: none;}
.page .result-list .control a:hover{ background-color: #6db43d; text-decoration: none;color:#fff;}
.page .result-list .control span{ width: 74px; height: 42px; display: block; margin: 0 auto; position: relative; color: #7eca4b; font-size: 16px; line-height: 42px; padding-left: 15px;}
.page .result-list .control span em{ width: 18px; position: absolute; left: 0; top: 12px; height: 18px; display: block; background-position: -220px -19px;}
.page .pagebar{ padding: 20px 0; width: 100%; overflow: hidden; height: 40px; text-align: center;}
.page .pagebar a{ font-size: 14px; color:#505050; text-align: center; border: 1px solid #ecf2f4; padding: 10px 15px; text-decoration: none; display: inline-block; margin-right: 5px;}
.page .pagebar span{ font-size: 14px; color:#505050; text-align: center; padding: 10px 15px; text-decoration: none; display: inline-block;}
.page .pagebar a:hover{ background-color: #989898; border: 1px solid #989898; color: #fff;}

.page .pagebar a.disabled{ color: #acacac; border: 1px solid #ecf2f4; cursor:default;}
.page .pagebar a.disabled:hover{ color: #acacac; border: 1px solid #ecf2f4; background-color: transparent; }

.page .footer{ text-align: center; padding: 15px 0 10px 0;}
.page .footer p{ margin: 0; padding: 10px; color: #676767;}
.page .footer .contact{ font-size: 14px; color: #8c8c8c; line-height: 50px;}
.page .footer .contact span{ margin-left:60px; position: relative;}
.page .footer .contact em{ width: 32px; height: 32px; display: block; position: absolute; background: url(/img/footer-icons.png);  top: -6px; left: -40px;}
.page .footer .contact .q1 em{ background-position: 0 0}
.page .footer .contact .q2 em{ background-position: -32px 0}
.page .footer .contact .e1 em{ background-position: -64px 0}

/*é€šç”¨è¡¨æ ¼æ ·å¼*/
.page .tl{ width: 100%; overflow: hidden; padding: 15px 0; clear: both;}
.page .tl table{ width: 100%;}
.page .tl td,.page .tl th{color: #595959;border: 1px solid #def2f2; height: 36px;text-align: center; padding: 4px; }
.page .tl th{ background-color: #edf6fa; color: #758f9f; vertical-align: middle; position: relative;}
.page .tl th.down,.page .tl th.up{ cursor: pointer;}
.page .tl th em{ display: none; margin-left: 5px; vertical-align: middle;}
.page .tl th.down .arrow-top{ display: inline-block;}
.page .tl th.up .arrow-bottom{ display: inline-block;}
.page .tl th .arrow-top{  border-color: #758f9f transparent transparent transparent; }
.page .tl th .arrow-bottom{ border-color: transparent transparent #758f9f transparent; }
.page .tl td a{ text-indent:8px; color: #1479ea; display: block; text-align: left; text-decoration: none;}
.page .tl td a:hover{ text-decoration: underline;}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=0);
  -ms-filter:"alpha(opacity=0)";
  opacity: 0;
  z-index: 10000;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop));
  _height: expression(eval(document.documentElement.clientHeight));
}

.loadingicon{ position:fixed; width:32px; height:32px; left:50%;top:50%;margin-left:-66px;margin-top:-66px;display:none;z-index:10001; padding: 50px; background-color: rgba(255,255,255,.5); border-radius: 20px; box-shadow: 0 0 12px rgba(0,0,0,0.6)}

.search_more a{padding: 12px 16px;
  color: #FFF!important; margin-left:15px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #0FBBBD;
  font-size: 15px;}
.search_more a:hover {
  opacity: .9;
  filter: alpha(opacity=90);
}
.info_i {
  color: #1479ea;
  position: absolute;
  top: 20px;
  margin-left: 10px;
  font-style: normal;
  font-size: 14px;
}









